{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container ">
    {% include 'catalog/includes/inc_title.html' %}
    <div class="row mt-3">
        <div class="col-6">
            <div class="card" style="width: 35rem;">
                <img src="{{ object.image_preview | mediapath }}" class="card-img-top" alt="Card image cap">
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">{{ object.price }} РУБ</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <p class="card-text">{{ object.description | linebreaks }}</p><br>
                    <p class="card-text">{{ object.owner | default:'-' }}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="#" type="button" class="btn btn-outline-info">в корзину</a>
                        {% if perms.catalog.change_product or object.owner == user %}
                        <a href="{% url 'catalog:product_edit' object.slug %}" type="button" class="btn btn-outline-info">изменить</a>
                        {% endif %}
                        {% if perms.catalog.delete_product %}
                        <a href="{% url 'catalog:product_delete' object.slug %}" type="button" class="btn btn-outline-info">удалить</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                        {% if active_version_name %}
                        <p>Номер активной версии: {{ active_version_number }}<br>
                            Название: {{ active_version_name }}</p>
                        {% else  %}
                        <p>Номер активной версии: _____ <br>
                            Название: нет активной версии </p>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}