{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    {% include 'catalog/includes/inc_title.html' %}
    <a class="btn btn-outline-info mt-5" href="{% url 'catalog:product_create' %}">ДОБАВИТЬ ТОВАР</a>
    <div class="row mt-3 row-cols-md-3 g-4">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <img src="{{ object.image_preview | mediapath }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description | truncatechars:100 }}</p>
                        <a href="{% url 'catalog:product_detail' object.slug %}" type="button"
                           class="btn btn-outline-info">к
                            товару</a>
                    </div>
                    <div class="card-footer">
                        <h6>{{ active_version }}</h6>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}